/* ==================== */
/* Reset e Variáveis */
:root {
    --primary-color: #ff7833;
    --secondary-color: #31333b;
    --tertiary-color: #7b7b7b;
}

/* ==================== */
/* Estrutura */
body {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.5;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../scr/img/bg-fundo.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2; 
    z-index: -1;
}

main {
    padding: 50px 30px;
}

/* ==================== */
/* Menu */
header {
    color: #ffffff;
    background-color: var(--secondary-color);
    padding: 50px 30px;
    text-align: right;
    width: 200px;
    height: 100vh; /* Ocupa toda a tela */
}

nav > ul {
    padding: 0;
    margin: 0;
}

nav > ul li {
    list-style-type: none;
    border-bottom: 1px solid var(--tertiary-color);
    padding: 15px 0;
    margin-bottom: 0;
    transition: background-color 0.5s, opacity 0.5s;
}

nav > ul li:first-of-type {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

/* Efeito de hover */
nav > ul li:hover {
    background-color: var(--primary-color);
    opacity: 0.7;
}

nav ul li:first-of-type:hover {
    background-color: transparent;
    opacity: 1;
}

nav > ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 0;
}

nav > ul li img {
    width: 50%;
}
  
nav > div {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
}

/* ==================== */
/* Conteúdo */
.content {
    padding-left: 25px;
    border-left: var(--primary-color) 3px solid;
    margin: 25px 0;
}

/* ==================== */
/* Tipografia */
.tipografia_content ul li {
    margin-bottom: 10px !important;
}

.font-family {
    font-family: Arial, sans-serif;
}

.font-size {
    font-size: 20px;
}

.font-weight {
    font-weight: bold;
}

.font-style {
    font-style: italic;
}

.text-align {
    text-align: center;
}

.text-decoration {
    text-decoration: underline;
}

.text-transform {
    text-transform: uppercase;
}

.line-height {
    line-height: 2;
}

.letter-spacing {
    letter-spacing: 3px;
}

.word-spacing {
    word-spacing: 10px;
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* ==================== */
/* Padrão */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
}

strong {
    color: var(--primary-color);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}
