/* ==================== */
/* Reset e Variáveis */
:root {
    --primary-color: #ff7833;
    --secondary-color: #31333b;
    --tertiary-color: #7b7b7b;
}

/* ==================== */
/* Estrutura */
body {
    font-family: 'Fira Code', monospace;
    position: relative;
    display: flex;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../src/img/bg-fundo.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

main {
    margin: 50px;
    width: calc(100% - 160px);
    min-height: 100vh;
}

/* ==================== */
/* Menu/Cabeçalho */
header {
    color: #ffffff;
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: right;
    width: 160px;
    min-height: 100vh;
    position: relative;
}

nav > ul {
    padding: 0;
    margin: 0;
}

nav > ul li {
    list-style-type: none;
    border-bottom: 1px solid var(--tertiary-color);
    padding: 15px 0;
    margin-bottom: 0;
    transition: background-color 0.5s, opacity 0.5s;
}

nav > ul li:first-of-type {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

nav > ul li:hover {
    background-color: var(--primary-color);
}

nav ul li:first-of-type:hover {
    background-color: transparent;
    opacity: 1;
}

nav > ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
}

nav > ul li img {
    width: 80px;
}

/* ========== Pages ========== */
/* Home */
.redes-sociais {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.item_redes-sociais {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
    gap: 8px;
}

.item_redes-sociais:last-of-type {
    margin-right: 0;
}

.item_redes-sociais a {
    padding: 0;
    display: flex;
    align-items: center;
}

.item_redes-sociais img {
    max-width: 30px;
    height: auto;
}

.item_redes-sociais img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.item_redes-sociais p {
    margin: 0;
    font-size: 13px;
}

/* Tipografia */
.tipografia-list {
    list-style-type: none;
}

.font-family {
    font-family: Arial, sans-serif;
}

.font-size {
    font-size: 20px;
}

.font-weight {
    font-weight: bold;
}

.font-style {
    font-style: italic;
}

.text-align {
    text-align: center;
}

.text-decoration {
    text-decoration: underline;
}

.text-transform {
    text-transform: uppercase;
}

.line-height {
    line-height: 2;
}

.letter-spacing {
    letter-spacing: 3px;
}

.word-spacing {
    word-spacing: 10px;
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Cards  */
.card {
    position: relative;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.card-item {
    width: 100%;
    transition: transform 0.3s ease;
    background-color: var(--secondary-color);
}

.card-item:hover {
    opacity: 0.7;
}

.card-item img {
    width: 100%;
    height: auto;
}

.card-item:nth-child(1) .card {
    flex: 1 1 45%; /* Para os 2 primeiros cards ocuparem 45% cada da largura */
}

.card-item:nth-child(2) .card {
    flex: 1 1 30%; /* Para os 3 cartões ocuparem 30% cada */
}

.card-item:nth-child(3) .card {
    flex: 1 1 22%; /* Para os 4 cartões ocuparem 22% cada */
}

.card-description {
    padding: 10px;
}

.card-description p {
    font-size: 13px;
    margin: 0;
}

/* Listas */
.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Formulário */
form {
    width: 100%;
    max-width: 480px;
}

.form-container {
    display: flex;
    gap: 20px;
}

.form-container:first-child {
    margin: 0;
}

.form-content {
    margin-bottom: 15px;
}

.form-text a {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

.form-text a:hover {
    opacity: 1;
    color: var(--primary-color);
    font-weight: bold;
}

.form-radio {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-radio label {
    width: 100%;
}

.form-radio input {
    margin: 0;
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-option {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: var(--primary-color);
}

.form-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

input,
textarea,
select
{
    display: inline-block;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--tertiary-color);
    color: #ffffff;
    margin: 0;
    resize: vertical;
}

#enviarBtn {
    background-color: var(--primary-color);
}

#enviarBtn:disabled {
    background-color: #f4f4f4;
    cursor: not-allowed;
    color: var(--tertiary-color);
}

/* Botões */
.button-container {
    width: 100%;
}

.button-container h4 {
    margin: 0;
}

/* Tabelas */

.table-container {
    display: block;
    width: 100%;
    overflow-x: auto;}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0 20px;
}

tbody tr:hover {
    background-color: var(--primary-color); /* Cor ao passar o mouse */
    color: white;
    transition: background-color 0.3s ease-in-out;
}

th {
    text-align: left;
    text-transform: uppercase;
    color: var(--primary-color);
}

th, td {
    border-bottom: 2px solid var(--secondary-color);
    padding: 10px;
}

th:last-child, 
td:last-child {
    text-align: right;
}

/* ========== Default ========== */

/* Estrutura */
.container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
    gap: 20px;
}

/* Conteúdo Principal */
.content {
    padding-left: 25px;
    border-left: var(--primary-color) 3px solid;
    margin: 25px 0;
}

/* Fontes */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
}

ul li {
    margin-bottom: 10px;
}

p {
    margin-top: 0;
}

strong {
    color: var(--primary-color);
}

/* Botões */
.btn {
    padding: 10px;
    background: var(--secondary-color);
    border: none;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid transparent;
}

.btn:hover {
    background: var(--primary-color);
}

.btn-short {
    width: 30%;
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--tertiary-color);
}

.btn-outline:hover {
    color: var(--primary-color);
    background: transparent;
    border: 2px solid var(--primary-color);
    
}

/* ========== Responsividade ========== */

/* 1028px */
@media (max-width: 1023px) {
    /* Ajuste para telas de tablet */
    main {
        margin: 30px;
        width: calc(100% - 120px); /* Ajusta a largura para telas menores */
    }

    header {
        max-width: 120px; /* Reduz a largura do menu lateral */
    }

    .card-item:nth-child(1) .card,
    .card-item:nth-child(2) .card,
    .card-item:nth-child(3) .card {
        flex: 1 1 48%; /* Faz com que os cards fiquem com largura de 48% */
    }

    .form-container {
        flex-direction: column; /* Coloca os itens do formulário em coluna */
    }

    .list {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }
}

/* 768px */
@media (max-width: 767px) {
    /* Ajuste para telas de celular */
    main {
        margin: 15px;
        width: 100%; /* Preenche a tela inteira */
    }

    header {
        padding: 10px;
        text-align: center;
    }

    nav > ul li {
        padding: 10px;
        text-align: center;
    }

    nav > ul li a {
        padding: 0;
    }
    
    .card-content {
        display: none;
    }
    
    .card-item {
        flex: 1 1 100%; /* Faz com que os cards ocupem 100% da largura */
    }
    
    .form-container {
        flex-direction: column;
    }
    
    .container {
        flex-wrap: wrap;
    }
    
    .content {
        padding-left: 5px;
    }
    
    .btn {
        font-size: 11px;
        padding: 8px;
    }

    p {
        font-size: 12px;
    }
    
    h2, h3, h4, h5, h6 {
        font-size: 15px;
    }
    
    h1 {
        font-size: 20px;
    }

    .table-container {
        display: none;
    }
    
}

/* 480px */
@media (max-width: 479px) {
    /* Ajuste para telas muito pequenas, como celulares */
    body {
        font-size: 14px; /* Reduz o tamanho da fonte */
    }

    nav > ul li {
        padding: 8px;
        text-align: center;
    }
    
    .card-item {
        flex: 1 1 100%; /* Cards ocupando 100% */
    }
    
    .form-container {
        gap: 10px; /* Menor espaço entre os itens do formulário */
    }

    
}
